* {
  color: #384850;
}

.details-wrapper {
  margin: 40px 15%;
}

.org-title {
  font-weight: bold;
}

.rtl {
  float: right;
  text-align: right;
}

.action-wrapper {
  margin-top: 30px;
}

button {
  font-size: 1.5rem;
  min-height: 40px;
  font-weight: bold;
  background: #64C13A;
  color: white;
  border-radius: 25px;
  border: none;
}

.blue-btn {
  background: #1F8CE9;
}


@media (max-width: 1024px){
  .ag-theme-balham{
    width: 100%;
  }
}

.ag-theme-material{
  border-radius: 30px;
  border: 1px solid  #CACACA;
  padding-top: 30px;
  width: 36%; 
  height: 700px;
  margin: 0 auto;
  color: #5C5C5C;
  font-size: 15px;
  font-family: sans-serif;
} 